extends layout

block content
  div.header
    h1 Simple
      span.red Chat
        span.blue App
  div#entername
        input(type="text", placeholder="Your name")#handle
        button#enternamebtn Ok
  div#simplechatapp
    div#chat-window
        div#output
        div#feedback
    div#userswrap
      h3 Users online:
      ul#users
    div.message
      form(action="", method="", onsubmit="return false")#form
        input(type="text", placeholder="Message")#message
        input(type="submit", value="Send")#send
