extends layout

block content
  div.header
    h1 ChatAway...
  div#entername
    form(action="", method="", onsubmit="return false")
        input(type="text", placeholder="Your name")#handle
        input(type="submit", value="Ok")#enternamebtn
  div#simplechatapp
    div#chat-window
        div#output
        div#feedback
    div#userswrap
      h3 Users online:
      ul#users
    div.message
      form(action="", method="", onsubmit="return false")#form
        input(type="text", placeholder="Message")#message
        input(type="submit", value="Send")#send
