* {
	margin: 0;
	padding: 0;
}

body {
    font: 16px Consolas, Arial, sans-serif;
    background: #f2f2f2;
}

a {
  color: #00B7FF;
}

.message {
	position: fixed;
	bottom: 0;
	width: 100%;
}

#form {
	width: 100%;
	display: flex;
}

#message {
	width: 100%;
}

input { 
    font: 16px Consolas, Arial, sans-serif;
    padding: 10px;
    border: none;
}

#simplechatapp {
	display: none;
}

#chat-window {
	margin-top: 100px;
	padding-bottom: 80px;
	margin-left: 10px;
	width: 80%;
	display: inline-block;
}

#userswrap {
	display: inline-block;
	max-width: 200px;
	position: fixed;
	top: 50px;
}

#users {
	list-style: none;
}


#feedback {
	color: gray;
}

#entername {
	max-width: 300px;
	margin: 200px auto;
}

#enternamebtn, #send {
	padding: 10px 20px;
	font: 16px Consolas, Arial, sans-serif;
	border: none;
}

.header {
	padding: 10px;
	margin-bottom: 10px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #f2f2f2;
}

h1, h2 {
	color: #777;
}